// BASIC COLOR
$color-white: #fff;
$color-black: #000;

// GREY
$color-grey-light-4: #fafafa;
$color-grey-light-3: #eeeeee;
$color-grey-light-2: #e0e0e0;
$color-grey-light-1: #bdbdbd;
$color-grey: #9e9e9e;
$color-grey-dark-1: #757575;
$color-grey-dark-2: #616161;
$color-grey-dark-3: #424242;
$color-grey-dark-4: #212121;