// BASIC COLOR
$color-white: #fff;
$color-black: #000;

// MAIN COLOR
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485; 

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// GREY
$color-grey-light-4: #fafafa;
$color-grey-light-3: #eeeeee;
$color-grey-light-2: #e0e0e0;
$color-grey-light-1: #bdbdbd;
$color-grey: #9e9e9e;
$color-grey-dark-1: #757575;
$color-grey-dark-2: #616161;
$color-grey-dark-3: #424242;
$color-grey-dark-4: #212121;