.row {
  width: $grid-width;
  margin: 0 auto;
  margin-bottom: 20px;

  background-color: #ccc;
  @include clearfix;
}

[class^="col"] {
  background-color: orangered;
  float: left;

  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}

.col-1-of-2 {
  width: calc((100% - #{$gutter-horizontal}) / 2);
}