.header {
  background-color: orange;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, .8), 
    rgba($color-primary-dark, .8)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  -moz-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);

  &__logo {
    position: relative;
  }

  &__logo-img {
    position: absolute;
    width: 7rem;
    top: 4rem;
    left: 4em;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }

  &__button {
    animation: moveInBottom .3s ease-out .7s;
    animation-fill-mode: backwards;
  }
}