.header {
  background-color: orange;
  height: 95vh;
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, .70), 
    rgba($color-primary-dark, .70)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;

  &__logo {
    position: relative;
  }

  &__logo-img {
    position: absolute;
    width: 10rem;
    top: 4rem;
    left: 4em;
  }
}