.btn {

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 1.5rem 3.5rem;
    display: inline-block;
    border-radius: 5rem;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark-1;
  }
}