body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark-1;
}

.heading-primary-main {
  display: block;
  color: $color-white;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  animation: moveInLeft .9s ease-out;
}

.heading-primary-sub {
  display: block;
  color: $color-white;
  font-size: 2rem;
  letter-spacing: 1.8rem;
  text-transform: uppercase;
  animation: moveInRight .9s ease-out;
}

.heading-secondary {
  color: transparent;
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all .3s;
  letter-spacing: 2px;

  &:hover {
    text-shadow: $shadow-depth-1-small;
    transform: skewX(13deg);
  }
}