.u-text-center { text-align: center; }

.u-margin-bottom-small { margin-bottom: 1rem !important; }
.u-margin-bottom-medium { margin-bottom: 2rem !important; }
.u-margin-bottom-big { margin-bottom: 6rem !important; }